<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>React Component</title>
  <script src="../build/react.js"></script>
  <script src="../build/react-dom.js"></script>
  <script src="../build/browser.min.js"></script>
</head>
<body>
  <div id="container"></div>
  <script type="text/babel">
    var HelloWorld = React.createClass({
      render: function () {
        return (
          <div>
            <p>HELLO, {this.props.greetTaget}</p>
          </div>
        );
      }
    });
    ReactDOM.render(
      <div>
        <HelloWorld greetTaget="A"/>
        <HelloWorld greetTaget="B"/>
        <HelloWorld greetTaget="C"/>
      </div>,
      document.getElementById('container')
    )
  </script>
</body>
</html>